@media only screen and (max-width: 768px) {
  .header {
    display: none;
  }
  .sidebar-item__text {
    display: none;
  }
  .sidebar {
    width: var(--sidebar-width);
  }
  .page {
    min-width: calc(100% - var(--sidebar-width));
    font-size: 1rem !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .page1 {
    padding-top: 0 !important;
  }
  .saved-passwords {
    margin-right: 15px;
  }
  .saved-password {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px !important;
  }
  .credits::before {
    content: "Yashar" !important;
  }
  .results__password {
    font-size: 1rem !important;
    margin-top: 10px;
  }
  .results-check {
    margin-top: 20px !important;
    width: 90% !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .ttc {
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .results-generated {
    flex-direction: column-reverse !important;
  }
  .results__save__page1 {
    margin: 0 0 10px !important;
    width: 90% !important;
  }
  .results__copy__page1 {
    margin: 0 0 10px !important;
    width: 90% !important;
  }
  .generate-div {
    margin: auto 0 10px !important;
    width: 90% !important;
    border-radius: 30px !important;
    height: 50% !important;
  }
  .generate-btn {
    width: 100% !important;
    border-radius: 30px !important;
    height: 100% !important;
  }
  .generate-btn:focus {
    transform: none !important;
    -webkit-transform: none !important;
    animation: none !important;
    -webkit-animation: none !important;
  }
  .generate-btn__icon {
    font-size: 4rem !important;
  }
  .options-other {
    flex-direction: column;
  }
  .options-left-checkbox {
    margin-right: auto !important;
  }
  .options-left {
    width: 90% !important;
  }
  .options-right {
    width: 90% !important;
  }
  .page1-results {
    margin-top: 30% !important;
  }

  .options-length {
    width: 90% !important;
  }
}

@media only screen and (max-width: 610px) {
  .saved-passwords {
    grid-template-columns: 1fr 1fr !important;
    padding-right: 15px !important;
  }
}
@media only screen and (max-width: 400px) {
  .saved-passwords {
    grid-template-columns: 1fr !important;
    padding-right: 15px !important;
  }
}

@media only screen and (max-height: 700px) {
  .results__copy__page1 {
    display: none;
  }
}
