*{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    overflow-x: hidden;
}

::selection{
    background-color: rgb(255, 70, 110);
}

body{
    width: 100vw;
    height: 100vh;
}

:root{
    --controls-height: 100px;
    --primary-color: crimson;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.page{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.controls{
    border-top: 2px solid var(--primary-color);
    width: 100%;
    min-height: var(--controls-height);
    display: flex;
    align-items: center;
    justify-content: center;

}

/* BUTTONS STYLE */

button{
    display: flex;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 1.75rem;
    padding: 10px;
    transition: ease-in-out 0.1s;
}

button:hover{
    transform: translateY(-10px);
    cursor: pointer;
}

.btn{
    margin-right: 10px;
}

#streams{
    height: 100%;
    width: 100%;
    padding: 50px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    overflow-y: auto;
}

.user-container{
    width: calc(20vw);
    height: 90%;
    min-height: 280px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    border: 0px solid var(--primary-color);
    border-radius: 15px;
    background: linear-gradient(45deg, rgba(220,20,60,1) 0%, rgba(255,70,110,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;

}

.user-container:hover{
    border-width: 5px;
}

.user-player{
    width:auto;
    height: auto;
    padding: 0.5rem;
    background-color: rgba(255,255,255,70%);
    color: rgba(0,0,0,70%);
    border-radius: 15px;
    user-select: none;
}

input{
    display: flex;
    border: 2px solid var(--primary-color);
    border-radius: 15px;
    font-size: 1.75rem;
    padding: 10px;
    transition: ease-in-out 0.1s;
    outline: none;
}

input:focus{
    border-color: var(--primary-color);
}

.user-name{
    margin-right: 10px;
}

.mic-btn{
    display: none;
}

.leave-btn{
    display: none;
}