* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

:root {
  --sidebar-width: 5rem;
}

.persian{
  font-family: "B Roya" !important;
  font-size: 1.25rem !important;
}

body {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

::selection {
  background-color: #34d399;
}


ion-icon {
  pointer-events: none;
}

img {
  pointer-events: none;
}


.header {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  position: absolute;
}

.header-title {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ecfdf5;
  border-radius: 40px;
  margin-top: 5px;
  user-select: none;
  color: #064e3b;
  padding: 5px 15px 5px 10px;
  z-index: 1000;
}

.header-icon {
  font-size: 2rem;
  color: #064e3b;
}

.container {
  flex-grow: 1;
  width: 100vw;
  display: flex;
  padding: 15px;
  background-color: inherit;
  /*filter: blur(5px);*/
}



.btn {
  background-color: #d1fae5;
  transition: background-color 0.1s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: #34d399 0 1px 4px;
  color: #064e3b;
  user-select: none;
  border-radius: 500px;
}

.btn:hover {
  box-shadow: #34d399 0 8px 18px;
}

.btn:active {
  background-color: #a7f3d0;
}

.page {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5% 5% 0;
  font-size: large;
  background-color: inherit;
  max-width: 1000px;
  width: 100%;
  overflow-y: auto;
}


.i-input {
  width: 100%;
  height: 50px;
  font-size: medium;
  padding: 15px;
  border-radius: 50px;
  border: 1px solid #047907;
  outline: none;
}

.i-input:focus {
  outline: none;
}

.i-input-warning{
  border-color: #dc2626;
}