#main-page{
    display: none;
    background-color: #1c1c1c;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

}

#main-box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 1.5rem;
    overflow: hidden;
    border: 1px solid transparent;
}

#left-bar{
    width: 35%;
    height: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

}

::-webkit-scrollbar{
    width: 0.6rem;
}
::-webkit-scrollbar-thumb{
    border-radius: 1rem;
    background-color: var(--scrollbar-color);
}

#user-list{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    background-color: var(--main-color-full)
}

.main-bg{
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.5rem;
}

.user-tile{
    width: 100%;
    min-height: 4rem;
    max-height: 4rem;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: none;
    border-bottom: 1px solid var(--main-border);
    border-radius: 0;
    user-select: text;
}

.user-image{
    width: 3rem;
    height: 3rem;
    border-radius: 2rem;
    background-color: #2d2d2d;
    background-size: cover;
    user-select: none;
}

.user-username{
    color: var(--text-color);
    margin-left: 1rem;
}

.user-options{
    width: 3rem;
    height: 3rem;
    margin-left: auto;
}

.tag{
    border-radius: 1rem;
    color: var(--text-color);
    background-color: var(--scrollbar-color);
    padding: 0.25rem 0.3rem 0.2rem 0.3rem;
    user-select: none;
    border: 1px solid #939393;
    scale: 0.8;
}

.tag.you-tag{
    margin-left: 0.5rem;
}

#left-bar-options{
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem;
    margin-top: 1px;
    background-color: var(--main-color-full)
}

.left-bar-option{
    height: 3rem;
    width: 100%;
    border-radius: 2rem;

}

.left-bar-option.settings{
    margin-right: 0.5rem;
}

.left-bar-option.exit{
    margin-left: 0.5rem;
}

#main-space{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1px;
}

#chat-box{
    width: 100%;
    height: 100%;
    background-color: var(--main-color-full);
}

#type-box{
    min-height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem;
    margin-top: 1px;
    background-color: var(--main-color-full)
}

#send{
    height: 3rem;
    width: 3rem;
    border-radius: 4rem;
    margin-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#type-area{
    font-size: large;
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    min-height: 3rem;
    padding-top: 0.8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    resize: none;
}

#chat-box{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    overflow-y: auto;
}

@keyframes otherChatPop {
    0%{
        scale: 0;
        transform: rotateZ(5deg);
    }

    50%{
        scale: 1.2;
        transform: rotateZ(5deg);
    }

    100%{
        scale: 1;
        transform: rotateZ(0deg);
    }
}

@keyframes yourChatPop {
    0%{
        scale: 0;
        transform: rotateZ(-5deg);
    }

    50%{
        scale: 1.2;
        transform: rotateZ(-5deg);
    }

    100%{
        scale: 1;
        transform: rotateZ(0deg);
    }
}


.chat{
    width: 100%;
    height: 100%;
    /*padding: 0.5rem 0.75rem;*/
    padding: 0.25rem 0.75rem 0;
    border-color: transparent;
    border-width: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    pointer-events: initial;
}

.your-chat{
    margin-left: auto;
    border-bottom-right-radius: 0.25rem;
    padding-right: 0;
}

.your-chat.chat-bg{
    animation: yourChatPop 0.3s ease-out;
    border-bottom-right-radius: 0.3rem;
    transform-origin: right;
}

.other-chat{
    margin-right: auto;
    border-bottom-left-radius: 0.25rem;
    padding-left: 0;
}

.other-chat.chat-bg{
    animation: otherChatPop 0.3s ease-out;
    border-bottom-left-radius: 0.3rem;
    transform-origin: left;
}

.fixer{
    width: 100%;
    flex-grow: 1;
}

.chat-bg{
    max-width: 70%;
    height: auto;
    display: flex;
    align-items: center;
    transform-origin: left;
    margin-top: 0.5rem;
    padding: 1px;
    border-radius: 1.6rem;
    justify-content: center;
    pointer-events: none;
}

.chat-time{
    font-size: 0.5rem;
}

.other-chat>span.chat-text{
    margin-left: 0.75rem;
}

.other-chat>.chat-footer>.chat-time{
    margin-left: 0.25rem;
}

.your-chat>span.chat-text{
    margin-right: 0.75rem;
}

.your-chat>.chat-footer>.chat-time{
    margin-right: 0.25rem;
}

.chat-footer{
    margin-top: 0.15rem;
    display: flex;
    align-items: center;
    pointer-events: none;
}

.other-chat>.chat-footer{
    flex-direction: row-reverse;
    margin-right: auto;
}

.your-chat>.chat-footer{
    margin-left: auto;
}

.chat-text{
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    margin-top: 0.25rem;
}

.your-chat>.chat-footer>ion-icon{
    margin-right: 0.25rem;
}

.other-chat>.chat-footer>ion-icon{
    margin-left: 0.25rem;
}

.chat-footer>ion-icon{
    font-size: 1rem;
    color: var(--text-color)
}

.chat-reactions-box{
    min-width: 2rem;
    height: auto;
    min-height: 2rem;
    margin-top: 0.25rem;
    padding: 0.25rem 0.25rem 0.3rem;
    display: none;
}

.other-chat>.chat-reactions-box{
    margin-right: auto;
}

.your-chat>.chat-reactions-box{
    margin-left: auto;
}