.reactions-box{
    display: flex;
    min-width: 2.5rem;
    height: 12.5rem;
    overflow-y: auto;
    animation: reactions-box 0.3s ease-out;
    transform-origin: top;
    align-items: center;
    flex-direction: column;
    padding: 0.2rem 0.25rem 0;

}

.reactions-box::-webkit-scrollbar{
    display: none;
}

.options-menu{
    position: absolute;
    width: 12rem;
    height: 12.5rem;
    display: none;
    z-index: 2;
    align-items: flex-start;
    animation: options-menu 0.2s ease-out;
    transform-origin: left;
}

.reaction-option{
    width: 2rem;
    height: 2rem;
    min-width: 2rem;
    min-height: 2rem;
    max-width: 2rem;
    max-height: 2rem;
    margin-bottom: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0.25rem;
    user-select: none;
    transition: background-color,font-size 0.1s ease-out;
}

.reaction-option:focus {
    outline: none;
    background-color: rgba(63, 63, 63, 0.2);
}

.reaction-option:hover{
    font-size:  1.125rem;
    background-color: rgba(255, 255, 255, 0.27);
}

.reaction-option:active{
    background-color: rgba(63, 63, 63, 0.2);
}

@keyframes options-menu {
    0%{
        scale: 0;
    }
    100%{
        scale: 1;
    }
}

.context-menu{
    width: 100%;
    padding: 0.25rem;
    height: auto;
    align-self: center;
    justify-self: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 0.25rem;
}

.context-menu>button{
    margin-top: 0.25rem;
}

.context-menu>button:nth-child(1){
    margin-top: 0;
}

.chat.replied{
    background-color: #dc2626;
}

.replied{
    height: 3rem;
    width: 100%;
    padding: 0.5rem;
    max-width: 12rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    margin: 0 0.75rem 0.25rem 0;
}

.replied-text{
    max-width: 10rem;
    overflow: clip;
    opacity: 0.6;
    margin-left: 0.25rem;
    font-size: smaller;
    margin-top: 0.25rem;
    display: flex;
    width: 100%;
}

.replied-user{
    font-size: small;
    width: 100%;
}

.replied>ion-icon{
    font-size: 1rem;
}