#settings-page{
    width: auto;
    height: auto;
    min-width: 16rem;
    position: absolute;
    display: none;
    flex-direction: column;
    z-index: 3;
    padding: 1rem;
}

#page-denier{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background-color: transparent;
    display: none;
}

.theme-color-2{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.settings-circle{
    height: 2rem;
    width: 2rem;
    margin-left: auto;
}

#settings-page-options{
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 1rem;
    border-top: 1px solid var(--main-border)
}

.settings-page-option{
    height: 3rem;
    width: 100%;
    border-radius: 2rem;

}

.settings-page-option.save{
    margin-right: 0.5rem;
}

.settings-page-option.discard{
    margin-left: 0.5rem;
}

.darkmode{
    margin-bottom: 1rem;
}

#preview-theme-color-1{
    background-color: var(--theme-2);
}
#preview-theme-color-2{
    background-color: var(--theme-1)
}