:root{
  --theme-1: rgb(214, 9, 9);
  --theme-2: rgb(19, 19, 236);
  --main-color: rgba(31, 31, 31, 0.6);
  --main-color-full: rgb(31, 31, 31);
  --main-page-bg: #1c1c1c;
  --text-color: rgb(241, 241, 241);
  --scrollbar-color: #2d2d2d;
  --main-border: rgba(255, 255, 255, 0.15)
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

::selection{
  background-color: rgb(72, 72, 72);
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-input{
  margin-bottom: 1rem;
}

ion-icon{
  font-size: 1.5rem;
  margin-right: auto;
}